
.container {
	font-size: 50px;
	width: 740px;
	margin: auto;
}

.main_header {
	height: 110px;
	color: white;
	background: royalblue;
}
.main_footer {
	height: 100px;
	color: white;
	background: black;
}


.base {
	padding-top: 50px;
	color:white;
	text-align: center;
	font-size: 24px;
}

body {
	background-color: lightblue;
	padding: 40px; 
}

h1 {
	color: darkblue;
	font-size: 40px;
}

h2 {
	color: red; 
}

p {
	color: white;
	padding: 10px;
	background-color: green;
}

h1 span {
	color: orange;
}

h2 span {
	color: purple;
	padding: 10px;
}

p span {
	color: black;
	font-weight: bold;
}